version: '3'

services:
  web:
    build:  # This section will be used when running locally
      context: .
      dockerfile: Dockerfile
    image: harbor.arpansahu.me/library/borcelle_crm:latest
    env_file: ./.env
    container_name: borcelle_crm
    # volumes:
    #   - .:/app  # Only for local development, commented out for production deployment
    ports:
      - "8014:8014"
      - "8052:8052"
    restart: unless-stopped