{% extends 'base.html' %}
{% load static %}
{% block title %} Borcelle CRM {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    textarea{
  display: block;
  box-sizing: padding-box;
  overflow: hidden;

  padding: 10px;
  width: auto;
  font-size: 14px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(black, .3);
  border: 0;

  &:focus{
    border: none;
    outline: none;
  }
}
</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row" style="margin-bottom: 10px">
        <form method="GET" action="{% url 'home' %}" id="form-home">
            <div class="col-md-12 mb-lg-0 mb-4">
                <div class="card mt-4">
              <div class="card-header pb-0 p-3">
                <div class="row">
                  <div class="col-3 d-flex align-items-center">
                    <h6 class="mb-0">Search for a Contact</h6>
                  </div>
                  <div class="col-9 text-end">
                    <a class="btn bg-gradient-dark mb-0" href="{% url 'contact-create' %}" id="add-location"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add New Contact</a>
                  </div>
                </div>
              </div>
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-md-4 mb-md-0 mb-4">
                    <div id="autocomplete-user-country-code" class="autocomplete">
                      <div class="col-6 d-flex align-items-center" style="margin: 5px">
                        <h6 class="mb-0">Enter Country Code with +</h6>
                      </div>
                      <input type="text" class="autocomplete-input" name="country_code" id="country-code" value="{{ country_code }}" placeholder="Search Country Code..."/>
                      <ul class="autocomplete-result-list"></ul>
                    </div>
                  </div>
                  <div class="col-md-4 mb-md-0 mb-4">
                    <div id="autocomplete-user-phone" class="autocomplete">
                      <div class="col-6 d-flex align-items-center" style="margin: 5px">
                        <h6 class="mb-0">Enter Phone No</h6>
                      </div>
                      <input type="text" class="autocomplete-input" name="user_phone" id="user-phone" value="{{ user_phone }}" placeholder="Search Phone No..."/>
                      <ul class="autocomplete-result-list"></ul>
                    </div>
                  </div>
                  <div class="col-md-4 mb-md-0 mb-4">
                    <div id="autocomplete-user-name" class="autocomplete">
                      <div class="col-6 d-flex align-items-center" style="margin: 5px">
                        <h6 class="mb-0">Enter Name</h6>
                      </div>
                      <input class="autocomplete-input" name="user_name" id="user-name" value="{{ user_name }}" placeholder="Search Name..."/>
                      <ul class="autocomplete-result-list"></ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-md-0 mb-4">
                    <div id="autocomplete-user-email" class="autocomplete">
                      <div class="col-6 d-flex align-items-center" style="margin: 5px">
                        <h6 class="mb-0">Enter Email Id</h6>
                      </div>
                      <input type="text" class="autocomplete-input" name="user_email" id="user-email" value="{{ user_email }}" placeholder="Search Email Id..."/>
                      <ul class="autocomplete-result-list"></ul>
                    </div>
                  </div>
                  <div class="col-md-6 mb-md-0 mb-4">
                    <div id="autocomplete-user-gst" class="autocomplete">
                      <div class="col-6 d-flex align-items-center" style="margin: 5px">
                        <h6 class="mb-0">Enter GST No</h6>
                      </div>
                      <input type="text" class="autocomplete-input" name="user_gst" id="user-gst" value="{{ user_gst }}" placeholder="Search GST No..."/>
                      <ul class="autocomplete-result-list"></ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <input type="submit" value="Search" id="submit-search" class="btn bg-gradient-success w-auto " >
              </div>
            </div>
            </div>
        </form>
    </div>
        <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Locations</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone Number</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                  <tr>
                    <td id="contact_name_td" >
                      {{ contact.name }}
                    </td>
                    <td id="contact_email_td">
                      {{ contact.email }}
                    </td>
                    <td id="contact_phone_td">
                      {{ contact.phone }}
                    </td>
                    <td class="align-middle text-center">
                      <a href="{% url 'contact-detailed' contact.id %}" class="badge badge-sm bg-gradient-info" data-toggle="tooltip" data-original-title="View">
                        View
                      </a>
                      <a href="{% url 'contact-update' contact.id %}" id="edit-student-button" class="badge badge-sm bg-gradient-faded-dark" data-toggle="tooltip" data-original-title="Edit">
                        Edit
                      </a>
                      <a href="{% url 'contact-delete' contact.id %}" id="delete-student-button" class="badge badge-sm bg-gradient-faded-danger" data-toggle="tooltip" data-original-title="Edit">
                        Delete
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Pagination-->

    <!--end of Pagination-->
</div>
{% endblock content %}



<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script>
    new Autocomplete('#autocomplete-user-email', {
          search: input => {
              const url = {% url 'search-user-email' %} + `?email=${input}`
              return new Promise(resolve => {
                  fetch(url)
                  .then(response => response.json())
                  .then(data => {
                      resolve(data.data)
                  })
              })
          }
        })
    new Autocomplete('#autocomplete-user-gst', {
          search: input => {
              const url = {% url 'search-user-gst' %} + `?gst=${input}`
              return new Promise(resolve => {
                  fetch(url)
                  .then(response => response.json())
                  .then(data => {
                      resolve(data.data)
                  })
              })
          }
        })
    new Autocomplete('#autocomplete-user-country-code', {
          search: input => {
              const url = {% url 'search-country-code' %} + `?country_code=${input}`
              return new Promise(resolve => {
                  fetch(url)
                  .then(response => response.json())
                  .then(data => {
                      resolve(data.data)
                  })
              })
          }
        })
    new Autocomplete('#autocomplete-user-phone', {
          search: input => {
              const url = {% url 'search-user-phone' %} + `?phone=${input}`
              return new Promise(resolve => {
                  fetch(url)
                  .then(response => response.json())
                  .then(data => {
                      resolve(data.data)
                  })
              })
          }
        })
    new Autocomplete('#autocomplete-user-name', {
          search: input => {
              const url = {% url 'search-user-name' %} + `?name=${input}`
              return new Promise(resolve => {
                  fetch(url)
                  .then(response => response.json())
                  .then(data => {
                      console.log(data)
                      resolve(data.data)
                  })
              })
          }
        })
    $('#user-gst').on('click', function () {
        $('#user-gst').val('');
        $("form").submit(function(e){
            $(this).unbind('submit').submit();
        });
    })
    $('#user-email').on('click', function () {
        $('#user-email').val('');
        $("form").submit(function(e){
            $(this).unbind('submit').submit();
        });
    })
    $('#user-phone').on('click', function () {
        $('#user-phone').val('');
        $("form").submit(function(e){
            $(this).unbind('submit').submit();
        });
    })

    $('#country-code').on('click', function () {
        $('#country-code').val('');
        $("form").submit(function(e){
            $(this).unbind('submit').submit();
        });
    })

    $('#user-name').on('click', function () {
        $('#user-name').val('');
        $("form").submit(function(e){
            $(this).unbind('submit').submit();
        });
    })


    $('#submit-search').on('click', function (e) {
        var name = $('#user-name').val();
        var gst = $('#user-gst').val();
        var email = $('#user-email').val();
        var phone = $('#user-phone').val();
        var country_code = $('#country-code').val();


        if (!gst && !name && !email && !phone && !country_code) {
            console.log(typeof id, typeof id);
            $("form").submit(function(e){
                e.preventDefault();
            });
            Swal.fire({
                title: 'Oops...',
                text: "All Field both cannot be Empty",
                icon: 'error',
            });
        }
    })
  </script>


{% endblock javascripts %}